<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Hacker News</span>
      <span style="flex: 1 1 auto"></span>
      <mat-slide-toggle [(ngModel)]="isDarkMode" (click)="toggleDarkMode()"
        >Dark mode</mat-slide-toggle
      >
    </mat-toolbar-row>
  </mat-toolbar>
<div
  infiniteScroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()">
  <ng-container *ngIf="(stories$ | async) as stories">
    <div *ngFor="let story of stories | async">
      <ng-container
        *ngComponentOutlet="story.component; inputs: story.inputs"></ng-container>
    </div>
  </ng-container>
  <mat-spinner *ngIf="isLoading$ | async" style="margin: 0 auto"></mat-spinner>
</div>